Lab7-Serverless/solution/logicapp.definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "defaultValue": {},
      "type": "Object"
    },
    "NotificationEmail": {
      "type": "string",
      "defaultValue": "",
      "metadata": {
        "description": "Komu doručíme výsledek GetSign."
      }
    }
  },
  "triggers": {
    "When_events_are_available_in_Event_Hub": {
      "type": "ApiConnection",
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['eventhubs']['connectionId']"
          }
        },
        "method": "get",
        "path": "/@{encodeURIComponent('lab7-events')}/events/batch/head",
        "queries": {
          "consumerGroupName": "$Default",
          "contentType": "text/plain",
          "maximumEventsCount": 50
        }
      },
      "recurrence": {
        "frequency": "Minute",
        "interval": 1
      },
      "splitOn": "@triggerBody()"
    }
  },
  "actions": {
    "Initialize_variable": {
      "type": "InitializeVariable",
      "inputs": {
        "variables": [
          {
            "name": "dateOfBirth",
            "type": "string",
            "value": "@trim(string(coalesce(triggerBody()?['ContentData'], '')))"
          }
        ]
      },
      "runAfter": {}
    },
    "Compose_OnlyValidDate": {
      "type": "Compose",
      "inputs": "@if(and(and(equals(length(variables('dateOfBirth')), 10), equals(substring(variables('dateOfBirth'), 4, 1), '-')), equals(substring(variables('dateOfBirth'), 7, 1), '-')), variables('dateOfBirth'), '')",
      "runAfter": {
        "Initialize_variable": ["Succeeded"]
      }
    },
    "If_iso_date_else_skip": {
      "type": "If",
      "expression": {
        "and": [
          {
            "greater": ["@length(outputs('Compose_OnlyValidDate'))", 0]
          }
        ]
      },
      "actions": {
        "GetSign": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://cloudappdev26funcplwin.azurewebsites.net/api/GetSign",
            "queries": {
              "dateOfBirth": "@outputs('Compose_OnlyValidDate')"
            }
          },
          "runAfter": {}
        },
        "Send_an_email_(V2)": {
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['gmail']['connectionId']"
              }
            },
            "method": "post",
            "path": "/v2/Mail",
            "body": {
              "To": "@parameters('NotificationEmail')",
              "Subject": "Lab 7 – výsledek GetSign",
              "Body": "<p>@{concat('Výsledek GetSign: ', body('GetSign'))}</p>"
            }
          },
          "runAfter": {
            "GetSign": ["Succeeded"]
          }
        }
      },
      "else": {
        "actions": {}
      },
      "runAfter": {
        "Compose_OnlyValidDate": ["Succeeded"]
      }
    }
  },
  "outputs": {}
}
